<div class="well well-sm">
    <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#">Rating</a></li>
        <li><a href="#">Recomender</a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <table class="table">
            <tr>
                <th class="col-md-9">Movie Title</th>
                <th class="col-md-1">Year</th>
                <th class="col-md-2">Rating</th>
            </tr>
            <tr>
                <td>Children Who Chase Lost Voices From Deep Below</td>
                <td>2011</td>
                <td>
                    <form method="POST">
                        <input type="text" name="movie_id" value="idmovie" class="hidden">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="rating" value="1">1
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="rating" value="2">2
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="rating" value="3">3
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="rating" value="4">4
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="rating" value="5">5
                            </label>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>