@()(msg: String)
<div class="container" style="margin-top:100px;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">Login to continue</div>
        <div class="panel-body">
          @if(msg != null) {
            <div class="alert alert-info" role="alert">
              @msg
            </div>
          }
          <form method="POST" action="/login" class="form-horizontal">
            <div class="form-group">
              <label class="col-md-4 control-label">User ID</label>
              <div class="col-md-6">
                <input type="text" class="form-control" name="id">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Password</label>
              <div class="col-md-6">
                <input type="password" class="form-control" name="password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <button type="submit" class="btn btn-primary">
                  Login
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">
          <i class="text-center center-block">
            No account here? Don't worry, you just need to leave. <br />Or take a tour
            of movie recomendations <a href="/movie/page/1">here</a>.
          </i>
        </div>
      </div>
    </div>
  </div>
</div>