@(movies: List[Movie], page: Pagination)

@ratingMatch(m: Movie, rate: Int, s: String) = {
  @m.ratingMatch(Long.parseLong(session().get("id"), 10), rate, s)
}

<div class="well well-sm">
  <div class="container">
    <ul class="nav nav-pills">
      <li><a href="/home">Home</a></li>
      <li class="active"><a href="/movie/page/1">Movies</a></li>
      <li><a href="/rec">Recommender</a></li>
      <li class="pull-right"><a href="/logout">Logout</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <nav class="text-uppercase text-center">
    <ul class="pagination pagination">
      <li><a href="/movie/page/1">*</a></li>
      @for(i <- 'A' to 'Z') {
        <li><a href="/movie/search/@i/page/1">@i</a></li>
      }
    </ul>
  </nav>
  </form>
  @if(movies == null || movies.isEmpty()) {
    <div class="well">
      Nothing to display.
    </div>
  } else {
    <div class="panel panel-default">
      <table class="table table-hover table-striped">
        <thead>
          <tr class="active">
            <th class="col-md-5">Movie Title</th>
            <th class="col-md-3">Genre</th>
            <th class="col-md-2">Release</th>
            @if(session().get("id") != null) {
              <th class="col-md-2">Rating</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(movie <- movies) {
            <tr>
              <td><a href="/movie/rec/@movie.id">@movie.title</a></td>
              <td>
                @for(s <- movie.genre()) {
                  @s
                }
              </td>
              <td>@movie.releaseDate</td>
              @if(session().get("id") != null) {
                <td>
                  <div class="btn-group" data-toggle="buttons">
                    @for(i <- 1 to 5) {
                      <label class="btn btn-info btn-xs @ratingMatch(movie, i, "active")" onclick="rate(@movie.id, @i)">
                        <input type="radio" value="@i" @ratingMatch(movie, i, "checked")>@i
                      </label>
                    }
                  </div>
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <nav>
        <ul class="pagination pagination">
          <li>
            <a href="@page.removePage()1" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          @for(i <- page.lower() to page.upper()) {
            <li><a href="@page.removePage()@i">@i</a></li>
          }
          <li>
            <a href="@page.removePage()@page.last" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  }
</div>

<script>
  var user_id = @session().get("id");
  function rate(id, rating) {
    $.ajax({
      type: "GET",
      // dataType: "json",
      url: "/movie/rate",
      data: {
        item_id: id,
        rating: rating
      },
      success: function(data){
        // alert(data);
      },
      error: function() {
        alert('unable to rate via ajax');
      }
    });
  }
  $(document).ready(function() {

  });
</script>
