@(movies: List[Movie])

<div class="well well-sm">
  <div class="container">
    <ul class="nav nav-pills">
      <li><a href="/home">Home</a></li>
      <li class="active"><a href="/movie">Movies</a></li>
      <li><a href="#">Recomender</a></li>
      <li class="pull-right"><a href="/logout">Logout</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <form action="/movie/search/page/1" method="GET">
    <div class="form-group">
      <div class="input-group">
        <input name="search" type="text" class="form-control" placeholder="Search movies..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </form>
  <div class="panel panel-primary">
    @if(movies == null || movies.isEmpty()) {
    <div class="panel-body">
      Nothing to display.
    </div>
    } else {
    <table class="table table-striped table-hover">
      <tr>
        <th class="col-md-8">Movie Title</th>
        <th class="col-md-2">Release</th>
        <th class="col-md-2">Rating</th>
      </tr>
        @for(movie <- movies) {
        <tr>
          <td>@movie.title</td>
          <td>@movie.release_date</td>
          <td>
            <input type="text" name="movie_id" value="@movie.id" class="hidden">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default" onclick="rate(@movie.id, 1)">
                <input type="radio" value="1">1
              </label>
              <label class="btn btn-default" onclick="rate(@movie.id, 2)">
                <input type="radio" value="2">2
              </label>
              <label class="btn btn-default" onclick="rate(@movie.id, 3)">
                <input type="radio" value="3">3
              </label>
              <label class="btn btn-default" onclick="rate(@movie.id, 4)">
                <input type="radio" value="4">4
              </label>
              <label class="btn btn-default" onclick="rate(@movie.id, 5)">
                <input type="radio" value="5">5
              </label>
            </div>
          </td>
        </tr>
        }
    </table>
    }
  </div>
</div>

<script>
  function rate(id, rating) {
    $.ajax({
      type: "GET",
      // dataType: "json",
      url: "/movie/rate",
      data: {
        movie_id: id,
        rating: rating
      },
      success: function(data){
        alert(data);
      },
      error: function() {
        alert('unable to rate via ajax');
      }
    });
  }
  $(document).ready(function() {

  });
</script>
